
@{ ViewBag.Title = "Aprobar Cursos";}

<br />
<br />
<br />
<div class="container body-content">
    <h3 class="display-4"> @ViewBag.Title</h3>
    <br />
    <div class="row">
        <div class="col-lg-12" >
            <div id="accordion">
                @{ViewBag.cardNumber = 0;}
                @foreach (var curso in ViewBag.cursos)
                {
                    string collapseId = "collapse" + ViewBag.cardNumber;
                <div class="card cardMod hover_aprobarCurso w-100 bg-pallete1">
					<div class="btn card-header btn collapsed " data-toggle="collapse" data-target="#@collapseId" aria-expanded="true" aria-controls="collapseOne">
						<div class="float-left text-left">
							<h5 class="ml-3 text-uppercase"><b>@curso.nombre </b></h5>
							<h5 class="ml-3">Educador: @curso.nombreEducador</h5>
						</div>
					</div>

                    <div id="@collapseId" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-pallete1">
                                    <div class="row">
                                        <div class="col-lg-4 px-0">
                                            <b>Descripción:</b>
                                        </div>
                                        <div class="col-lg-8">
                                            @Html.Raw(curso.descripcion)
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item bg-pallete1">
                                    <div class="row">
                                        <div class="col-lg-4 px-0">
                                            <b>Contenidos:</b>
                                        </div>
                                        <div class="col-lg-8">
                                            <pre>@curso.contenidos</pre>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item bg-pallete1">
                                    <div class="row">
                                        <div class="col-lg-4 px-0">
                                            <b>Tópicos:</b>
                                        </div>
                                        <div class="col-lg-8">
                                            @foreach (var topico in curso.topicos)
                                            {
                                                <span class="badge bg-pallete2" style="font-size: 90%">@topico</span>
                                            }
                                        </div>
                                    </div>
                                </li>
                                <div style="float: right;">
                                    <br><br>
                                     @using (Html.BeginForm("aprobarCursos", "Curso", FormMethod.Post))
						            {
                                        <input type="hidden"  name="pagina" value="@ViewBag.Pagina"/>
                                        <input type="hidden" name="nombreCurso" value="@curso.nombre" />
							            <input type="hidden"  name="aprobado" value="2"/>
					                    <input class="btn btn-danger" style="display: inline-block; margin-left:5px; float: right;" type="submit" value="Rechazar" />				
                                    }
                                    
                                    @using (Html.BeginForm("aprobarCursos", "Curso", FormMethod.Post))
						            {
                                        <input type="hidden"  name="pagina" value="@ViewBag.Pagina"/>
                                        <input type="hidden" name="nombreCurso" value="@curso.nombre" />
							            <input type="hidden"  name="aprobado" value="1"/>
									    <input class="btn btn-dark" style="display: inline-block; margin-left:5px; float: right;" type="submit" value="Aceptar" />				
                                    }
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                    ViewBag.cardNumber += 1;
                }
            </div>
        </div>
    </div>
    <div casll="row">

    </div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">

                    @if (ViewBag.CantidadPaginas == 0)
					{
                        <br><br><br><br>
                        <h5>No hay cursos que desplegar en este momento.</h5>
                        <br><br><br><br>
					}
					else
                    { 
                        ViewBag.activarAnterior = "";
						ViewBag.activarSiguiente = "";
						if (ViewBag.pagina == 0)
						{
							ViewBag.activarAnterior = "disabled";
						}
						if (ViewBag.pagina == ViewBag.CantidadPaginas - 1)
						{
							ViewBag.activarSiguiente = "disabled";
						}

                         <li class="page-item @ViewBag.activarAnterior">
						    <a class="page-link @ViewBag.activarAnterior" href="@Url.Action("aprobarCursos", "Curso", new { pagina = (@ViewBag.pagina - 1) })" aria-label="Anterior">
							    <span aria-hidden="true"> Anterior </span>
							    <span class="sr-only">Anterior</span>
						    </a>
					    </li>
					    <li class="page-item @ViewBag.activarSiguiente">
						    <a class="page-link @ViewBag.activarSiguiente" href="@Url.Action("aprobarCursos", "Curso", new { pagina = (@ViewBag.pagina + 1) })" aria-label="Siguiente">
							    <span aria-hidden="true"> Siguiente </span>
							    <span class="sr-only">Siguiente</span>
						    </a>
					    </li>
                    }
				</ul>
            </nav>
        </div>
    </div>
</div>

